body{
    background: tomato;
    background-image: url("img/patron1.png");
    background-repeat: repeat-x;   /*repite el patron en el eje indicado*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;/*cuando se hace scroll solo se mueve el texto y no la imagen*/
    background-size: 100%;
}

#caja{
    border:5px solid black;
    padding: 10px;
    background-color: blue;
    color:white;
}
h2{
    color:crimson;
    background:white;
    background-image: url("img/patron2.jpg");
    border: 5px solid black;
}